* { box-sizing: border-box; }

/* nav */

header {
  background: #d6e8b8;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

li {
  float: left;
  border-right: .25rem dashed #d6e8b8;
  font-size: 1.5rem;
  font-family: 'News Cycle', sans-serif;
}

li a {
  color: #d6e8b8;
  text-align: center;
  padding: 3rem 3rem .6rem 3rem;
  display: flex;
  align-items: flex-start;
}

li.last {
  border-right: none;
}

li a:hover {
  background-color: #94c840;
  color: #523e33;
}

/*body classes*/

.introimg {
  display: block;
  margin: auto;
  max-width: 75%;
  max-width: 75%;
  padding-top: 3rem;
}

.projectimg {
  display: block;
  margin: auto;
  max-width: 35%;
  height: auto;
  padding-top: 3rem;
}

.iconcontainer {
  text-align:center;
}

.logo {
  padding: .25rem;
  height: 8rem;
  width: 8rem;
}

.logo:hover {
    box-shadow: 0 0 .2rem .1rem #523e33;
}

.instbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5rem;
}

.about {
  margin: auto;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

.copyright {
  color: #d6e8b8;
  font-family: 'News Cycle', sans-serif;
  margin-top: -1.75rem;
  text-align: center;
  font-style: italic;
}

.contact {
  display: block;
  width: 10rem;
  text-align: center;
  padding-top: .5rem;;
  font-family: 'News Cycle', sans-serif;
  color: #d6e8b8;
}

.hours {
  float: right;
  color: #d6e8b8;
  font-family: 'News Cycle', sans-serif;
  margin-top: -7rem;
  padding-right: 2rem;
  width: 15rem;
  text-align: right;
  font-style: italic;
}

.classhead {
  padding-bottom: 3rem;
}

.init {
  display: flex;
  width: 100%;
  padding-top: 5rem;
}

.initabout p {
  width: 50%;
  text-align: left;
  margin-left: 50%;
  padding-right: 4rem;
}

.initabout h1 {
  width: 45%;
  text-align: center;
  margin-left: 50%;
  padding-right: 1rem;
}

.initabout h3 {
  width: 45%;
  text-align: center;
  margin-left: 50%;
  padding-right: 1rem;
}

.initimg {
  padding-left: 10rem;
  padding-right: 2rem;
  max-width: 50%;
  min-width: 25rem;
  min-height: 10rem;
  float: left;
}

.map {
  display: block;
  margin: auto;
}

.muchcontent {
  background: #d1ddbe;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
}

.somecontent {
  background: #d1ddbe;
  font-size: 2rem;
  padding: 1rem;
  text-align: left;
}

.content {
  background: #d1ddbe;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.allabout {
  padding: 3rem 5rem 0 5rem;
}

.allabout p {
  text-indent: 2rem;
}

.allabout h1 {
  padding-bottom: 2rem;
}

 /* GRIDS! */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > [class^="grid-"] { flex: none; }*/
.grid > .grid-cell { flex: 1; }

.grid-col-1  { width: 8.3333%; }
.grid-col-2  { width: 16.6667%; }
.grid-col-3  { width: 25%; }
.grid-col-4  { width: 33.3333%; }
.grid-col-5  { width: 41.6667%; }
.grid-col-6  { width: 50%; }
.grid-col-7  { width: 58.3333%; }
.grid-col-8  { width: 66.6667%; }
.grid-col-9  { width: 75%; }
.grid-col-10 { width: 83.3333%; }
.grid-col-11 { width: 91.6667%; }

.grid-guttered > [class^="grid-"] {
  padding: 1rem 1rem 0 0;
}

.grid-guttered > [class^="grid-"]:last-child {
  padding-right: 2rem;
}

.grid-guttered > [class^="grid-"]:first-child {
  padding-left: 2rem;
}
 .gridhead {
   font-size: 2.5rem;
   font-style: italic;
 }

 .inst {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   padding-top: 3rem;
 }

 .instimg {
   width: 25%;
   height: 25%;
 }

 .inst a {
   color: black;
   text-decoration: underline;
 }

 .continfo {
   text-align: center;
   font-family: 'News Cycle', sans-serif;
   padding-bottom: 3rem;
 }

/*body elements*/

body {
  background-color: #d6e8b8;
  font-family: 'News Cycle', sans-serif;

}

h1 {
  text-align: center;
  letter-spacing: .5rem;
}

h2 {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

h3 {
  text-align: center;
  padding-top: 1rem;
  font-family: 'News Cycle', sans-serif;
}

h4 {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

h5 {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'News Cycle', sans-serif;
}

header {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  top:0;
  margin-left: 10rem;
  background: #523e33;
  width: 80%;
  border-radius: .5rem;
  margin-top: 1rem;
}
 main {
  height: 80%;
  font-family: 'News Cycle', sans-serif;
 }

footer {
  /*position:fixed;*/
  bottom:0;
  left:50%;
  /*margin-left:-48%;*/
  background: #523e33;
  width:100%;
  height: 20%;
  border-radius: .5rem;
  margin-top: 5rem;
}
